@import "~/styles/variables";
@import "~/styles/functions";
// Header styles.
.header {
    background: $black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 16px 32px;
    height: 72px;
    display: flex;
    align-items: center;
    &-socials {
        margin-left: auto;
        display: flex;
        align-items: center;
        &-link {
            svg {
                width: 24px;
                height: 25px;
                fill: $white;
            }
            + * {
                margin-left: 16px;
            }
            &-vk:hover svg {
                fill: #5e7fb8;
            }
            &-tg:hover svg {
                fill: #5085c1;
            }
            &-twitter:hover svg {
                fill: #639ee6;
            }
            &-fb:hover svg {
                fill: #475890;
            }
        }
    }
    &-burger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 8.39172H0V6.89172H24V8.39172ZM24 20.3917H0V18.8917H24V20.3917ZM24 14.3797H0V12.8917H24V14.3797Z' fill='white'/%3E%3C/svg%3E%0A")
            center center / 24px auto no-repeat;
        transition: background $trans, transform 0.7s ease;
        &-active {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6164 20.3905L4.50109 6.27515L5.3833 5.39294L19.4986 19.5083L18.6164 20.3905Z' fill='white'/%3E%3Cpath d='M19.4985 6.27517L5.38318 20.3905L4.50098 19.5083L18.6163 5.39296L19.4985 6.27517Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}


.menu {
    position: fixed;
    top: 72px;
    border-top: 2px solid #333333;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10000;
    background: $black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    &-visible {
        opacity: 1;
        pointer-events: all;
    }
    &-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 24px 0 0;
        overflow: hidden auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
        transform: rotate(180deg);
    }
    &:after {
        background: url('../../images/content/menu-bg.svg') left -72px / 1920px auto no-repeat;
    }
    &-link {
        max-width: calc(100% - 64px);
        margin: 0 32px;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        text-decoration: none;
        color: $white;
        position: relative;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            opacity: 0;
            transition: opacity $trans;
        }
        &:before {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%), url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07102 21.3633L21.1818 10.9826L12.1932 0.224109L9.15057 2.82922L14.2216 8.91445H1.05682L0.360796 13.0508H12.7301L6.52557 18.3605L9.07102 21.3633Z' fill='white'/%3E%3C/svg%3E%0A") calc(100% - 72px) 36px / 22px auto no-repeat;
            filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.5));
        }
        &:after {
            z-index: 1;
            background: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='2' fill='white' /%3E%3C/svg%3E%0A") left top / 10px auto repeat-x, url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='2' fill='white' /%3E%3C/svg%3E%0A") left bottom / 10px auto repeat-x, url("data:image/svg+xml,%3Csvg width='2' height='10' viewBox='0 0 2 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2V2H0V0Z' fill='white' /%3E%3C/svg%3E%0A") left top / 2px auto repeat-y, url("data:image/svg+xml,%3Csvg width='2' height='10' viewBox='0 0 2 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2V2H0V0Z' fill='white' /%3E%3C/svg%3E%0A") right top / 2px auto repeat-y;
        }
        &:hover,
        &:focus {
            .menu-link-text b:after, &:before, &:after {
                opacity: 1;
            }
            .menu-link-illstr {
                opacity: 1;
                transform: translateY(-50%) scale(.8);
            }
        }
        &-wrapper {
            width: 1298px;
            max-width: calc(100% - 64px);
            margin: 0 auto;
            display: flex;
            position: relative;
        }
        &-illstr {
            height: auto;
            transform: scale(0.9);
            position: absolute;
            z-index: 2;
            opacity: 0;
            transition: opacity $trans, transform 1s ease;
            pointer-events: none;
            top: 50%;
            transform: translateY(-50%) scale(0.9);
            &-1, &-2 {
                left: 770px;
            }
            &-3 {
                left: 710px;
            }
            &-4{
                left: 900px;
            }
            &-6 {
                left: 800px;
            }
            &-5 {
                left: 800px;
            }
            &-7 {
                left: 810px;
            }
            &-8 {
                left: 860px;
            }
        }
        &-text {
            flex-grow: 1;
            max-width: 1168px;
            position: relative;
            z-index: 3;
            b {
                color: $grey;
                display: block;
                position: relative;
                &:after {
                    content: attr(data-alt);
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: opacity $trans;
                }
            }
        }
        &-count {
            flex-shrink: 0;
            white-space: nowrap;
            color: $lgrey;
            margin-right: 44px;
            font-style: italic;
            text-indent: 0;
        }
        &:last-of-type {
            margin-bottom: 24px;
        }
    }
    >*:last-child {
        margin-top: auto;
    }
}