@import "~/styles/variables";
@import "~/styles/functions";

// Redirect component styles.
.redirect {
    &-link {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: 72px 0;
        text-decoration: none;
        color: $white;
        position: relative;
        background: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2V2H0V0Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A")
            left top / 10px auto repeat-x;
        &:hover,
        &:focus {
            .redirect-link-text b:after {
                opacity: 1;
            }
        }
        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            max-width: 100%;
            z-index: 1;
            background: linear-gradient(
                88.54deg,
                #ffd337 2.61%,
                #a92005 316.79%
            );
        }
        &-wrapper {
            width: 1230px;
            max-width: calc(100% - 64px);
            margin: 0 auto;
            display: flex;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                width: 55px;
                height: 55px;
                background: url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.0398 54.6757L16.4943 46.9541L32.4489 33.3007H0.642046L2.43182 22.6643H36.2841L23.2443 7.0166L31.0682 0.317735L54.1818 27.9825L23.0398 54.6757Z' fill='white'/%3E%3C/svg%3E%0A")
                    center center / 100% 100% no-repeat;
                transform: translateY(-50%);
            }
        }
        &-text {
            flex-grow: 1;
            max-width: 1168px;
            position: relative;
            z-index: 3;
            b {
                color: $grey;
                display: block;
                position: relative;
                &:after {
                    content: attr(data-alt);
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: opacity $trans;
                }
            }
        }
        &-count {
            flex-shrink: 0;
            white-space: nowrap;
            color: $lgrey;
            margin-right: 30px;
            font-style: italic;
            text-indent: 0;
        }
    }
}
