@import "~/styles/variables";
@import "~/styles/functions";

// Navigation section styles.
.nav {
    position: relative;
    z-index: 1;
    padding: 0 32px;
    margin-bottom: 120px;
    @media (max-width: 992px) {
        padding: 0;
        margin-bottom: 80px;
    }
    &-link {
        display: flex;
        justify-content: center;
        padding: 72px 0;
        text-decoration: none;
        color: $white;
        position: relative;
        @media (max-width: 992px) {
            padding: 24px 16px;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            opacity: 0;
            transition: opacity $trans;
        }
        &:before {
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.1) 100%
            );
            filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.5));
        }
        &:after {
            z-index: 1;
            background: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='2' fill='white' /%3E%3C/svg%3E%0A") left top / 10px auto repeat-x, url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='2' fill='white' /%3E%3C/svg%3E%0A") left bottom / 10px auto repeat-x, url("data:image/svg+xml,%3Csvg width='2' height='10' viewBox='0 0 2 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2V2H0V0Z' fill='white' /%3E%3C/svg%3E%0A") left top / 2px auto repeat-y, url("data:image/svg+xml,%3Csvg width='2' height='10' viewBox='0 0 2 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2V2H0V0Z' fill='white' /%3E%3C/svg%3E%0A") right top / 2px auto repeat-y;
        }
        &:hover,
        &:focus {
            .nav-link-text b:after, &:before, &:after {
                opacity: 1;
            }
            .nav-link-illstr {
                opacity: 1;
                transform: scale(1);
                &-2,
                &-3,
                &-5,
                &-6,
                &-7 {
                    transform: translateY(-50%) scale(1);
                }
            }
        }
        &-wrapper {
            width: 1298px;
            max-width: calc(100% - 64px);
            margin: 0 auto;
            display: flex;
            position: relative;
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
        &-illstr {
            height: auto;
            transform: scale(0.9);
            position: absolute;
            z-index: 2;
            opacity: 0;
            transition: opacity $trans, transform 1s ease;
            pointer-events: none;
            @media (max-width: 992px) {
                display: none;
            }
            &-2,
            &-3,
            &-5,
            &-6,
            &-7 {
                top: 50%;
                transform: translateY(-50%) scale(0.9);
            }
            &-1 {
                top: -32px;
                left: 860px;
            }
            &-2,
            &-3 {
                left: 860px;
            }
            &-3 {
                left: 810px;
            }
            &-4 {
                bottom: -119px;
                left: 1010px;
            }
            &-5 {
                left: 970px;
            }
            &-6 {
                left: 939px;
            }
            &-7 {
                left: 922px;
            }
            &-8 {
                top: -62px;
                left: 952px;
            }
        }
        &-text {
            flex-grow: 1;
            max-width: 1168px;
            position: relative;
            z-index: 3;
            @media (max-width: 992px) {
                font-size: rem(20);
                line-height: lh(28,20);
            }
            b {
                color: $grey;
                display: block;
                position: relative;
                &:after {
                    content: attr(data-alt);
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: opacity $trans;
                }
            }
        }
        &-count {
            flex-shrink: 0;
            white-space: nowrap;
            color: $lgrey;
            margin-right: 30px;
            font-style: italic;
            text-indent: 0;
            @media (max-width: 992px) {
                margin-right: 8px;
                font-size: rem(16);
            }
        }
    }
}
